In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('D:/ISA/weatherAUS.csv')

In [3]:
df.tail()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [33]:
def location_seeker():
    s=input("Enter the location name : ")
    location_grp = df.groupby(['Location'])
    print(location_grp.get_group(s))

In [34]:
location_seeker()

Enter the location name : Uluru
              Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  \
143882  2013-03-01    Uluru     19.7     30.0       0.8          NaN
143883  2013-03-02    Uluru     21.6     33.1       0.0          NaN
143884  2013-03-03    Uluru     21.3     36.1       0.0          NaN
143885  2013-03-04    Uluru     22.9     37.7       0.0          NaN
143886  2013-03-05    Uluru     24.0     39.0       0.0          NaN
...            ...      ...      ...      ...       ...          ...
145455  2017-06-21    Uluru      2.8     23.4       0.0          NaN
145456  2017-06-22    Uluru      3.6     25.3       0.0          NaN
145457  2017-06-23    Uluru      5.4     26.9       0.0          NaN
145458  2017-06-24    Uluru      7.8     27.0       0.0          NaN
145459  2017-06-25    Uluru     14.9      NaN       0.0          NaN

        Sunshine WindGustDir  WindGustSpeed WindDir9am  ... Humidity9am  \
143882       NaN         ESE           48.0          E  ...        76.0
143883       NaN           E           33.0          E  ...        44.0
143884       NaN           E           33.0        ENE  ...        39.0
143885       NaN         ENE           39.0          E  ...        35.0
143886       NaN           S           39.0          E  ...        33.0
...          ...         ...            ...        ...  ...         ...
145455       NaN           E           31.0         SE  ...        51.0
145456       NaN         NNW           22.0         SE  ...        56.0
145457       NaN           N           37.0         SE  ...        53.0
145458       NaN          SE           28.0        SSE  ...        51.0
145459       NaN         NaN            NaN        ESE  ...        62.0

        Humidity3pm  Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  \
143882         54.0       1010.6       1007.5       NaN       NaN     21.7
143883         33.0       1010.5       1006.5       NaN       NaN     24.6
143884         27.0       1006.9       1002.7       NaN       NaN     27.6
143885         22.0       1006.0       1002.1       NaN       NaN     28.7
143886         21.0       1006.9       1003.5       NaN       NaN     29.9
...             ...          ...          ...       ...       ...      ...
145455         24.0       1024.6       1020.3       NaN       NaN     10.1
145456         21.0       1023.5       1019.1       NaN       NaN     10.9
145457         24.0       1021.0       1016.8       NaN       NaN     12.5
145458         24.0       1019.4       1016.5       3.0       2.0     15.1
145459         36.0       1020.2       1017.9       8.0       8.0     15.0

        Temp3pm  RainToday  RainTomorrow
143882     28.4         No            No
143883     31.3         No            No
143884     34.5         No            No
143885     35.4         No            No
143886     37.3         No            No
...         ...        ...           ...
145455     22.4         No            No
145456     24.5         No            No
145457     26.1         No            No
145458     26.0         No            No
145459     20.9         No           NaN

[1578 rows x 23 columns]

In [35]:
location_seeker()

Enter the location name : Katheriene

KeyError: 'Katheriene'

In [36]:
location_seeker()

Enter the location name : Katherine
              Date   Location  MinTemp  MaxTemp  Rainfall  Evaporation  \
142304  2013-03-01  Katherine     24.7     34.6       0.0          4.0
142305  2013-03-02  Katherine     25.2     31.1       0.8          6.4
142306  2013-03-03  Katherine     25.4     35.9       0.0          3.8
142307  2013-03-04  Katherine     21.6     33.0      81.0          NaN
142308  2013-03-05  Katherine     24.9      NaN       0.0          4.0
...            ...        ...      ...      ...       ...          ...
143877  2017-06-21  Katherine     15.4     31.5       0.0          3.6
143878  2017-06-22  Katherine     12.2     31.5       0.0          4.0
143879  2017-06-23  Katherine     14.9     31.5       0.0          6.4
143880  2017-06-24  Katherine     14.0      NaN       0.0         10.0
143881  2017-06-25  Katherine      NaN      NaN       NaN          NaN

        Sunshine WindGustDir  WindGustSpeed WindDir9am  ... Humidity9am  \
142304       NaN         WNW           43.0         NW  ...        74.0
142305       NaN         WNW           26.0        WNW  ...        88.0
142306       NaN           S           48.0        WSW  ...        82.0
142307       NaN           W           37.0         NW  ...        95.0
142308       NaN          NW           30.0        WNW  ...        89.0
...          ...         ...            ...        ...  ...         ...
143877       NaN         ESE           43.0        ESE  ...        70.0
143878       NaN         ESE           37.0         SE  ...        45.0
143879       NaN         ESE           41.0         SE  ...        74.0
143880       NaN           E           35.0          E  ...        74.0
143881       NaN         NaN            NaN          E  ...         NaN

        Humidity3pm  Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  \
142304         49.0       1008.5       1005.0       7.0       3.0     28.7
142305         77.0       1008.6       1004.1       8.0       8.0     27.0
142306         55.0       1004.1        999.6       6.0       6.0     29.2
142307         64.0       1005.1       1002.0       8.0       5.0     25.1
142308         61.0       1007.1       1003.8       7.0       3.0     26.9
...             ...          ...          ...       ...       ...      ...
143877          NaN       1016.6       1012.7       0.0       NaN     21.6
143878          NaN       1017.1       1012.8       0.0       NaN     19.9
143879          NaN       1016.1       1011.8       0.0       NaN     22.8
143880          NaN       1014.6       1011.1       2.0       NaN     22.2
143881          NaN       1014.9       1011.7       NaN       NaN      NaN

        Temp3pm  RainToday  RainTomorrow
142304     34.1         No            No
142305     29.0         No            No
142306     35.1         No           Yes
142307     31.2        Yes            No
142308     33.6         No            No
...         ...        ...           ...
143877      NaN         No            No
143878      NaN         No            No
143879      NaN         No            No
143880      NaN         No           NaN
143881      NaN        NaN           NaN

[1578 rows x 23 columns]